<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>多开神器</Name>
    <Version>1.0</Version>
    <Title>多开神器</Title>
    <Publisher>多开神器</Publisher>
    <TargetDir>@ApplicationsDir@/DuoKai</TargetDir>
    <ControlScript>controlscript.qs</ControlScript>
    <Translations>
        <!--Translation>en.qm</Translation-->
    </Translations>
    <WizardShowPageList>false</WizardShowPageList>
    <MaintenanceToolName>uninstall</MaintenanceToolName>
    <MaintenanceToolIniFile>uninstall.ini</MaintenanceToolIniFile>
</Installer>
